<div id="modal" class="hide"> <!--Essa div modal vai abrir uma "imagem" na mesma página index.html-->
    <div class = "content"> <!-- O div content vai ser o conteúdo do modal-->
         <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>

         </div>
         <form action="/search">
            <label for="search">Cidade</label>
            <div class="search field">
                <input 
                type="text" 
                name="search"
                placeholder="Pesquise por cidade"> <!--fixa um texto dentro da caixa-->
                <button>
                    <img src="/assets/search.svg" alt="Buscar Cidade">
                </button>

            </div>

         </form>
 
    </div>

  </div>